.key {
  font-size: 10px;
  font-weight: bold;
  font-family: sans-serif;
  display: block;
}

.value {
  font-size: 12px;
  font-family: sans-serif;
}

.productImgContainer {
  width: 100px;
  height: 100px;
  margin: 10px;
  overflow: hidden;
  text-align: center;
}

.productImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
